<section data-ng-controller="UserAccountsController" data-ng-init="findOne()">
    <a href="javascript:history.back();">Back</a>
    <form class="form-horizontal" data-ng-submit="update()">
        <div class="control-group">
            <label class="control-label" for="title">Title</label>

            <div class="controls">
                <input type="text" data-ng-model="useraccount.title" id="title" placeholder="Title" required>
                </input>
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="enabled">Enabled?</label>

            <div class="controls">
                <input type="checkbox" data-ng-model="useraccount.enabled" id="enabled">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label">Site</label>

            <div class="controls">
                {{useraccount.cryptosite.title}}
            </div>
        </div>
        <div class="control-group" ng-show="useraccount.cryptosite.apiKey.required">
            <label class="control-label" for="apiKey">{{useraccount.cryptosite.apiKey.text}}</label>

            <div class="controls">
                <input type="text" data-ng-model="useraccount.apiKey" id="apiKey" placeholder="{{useraccount.cryptosite.apiKey.encrypt?'Keep blank not to change it':useraccount.cryptosite.apiKey.text}}">
                </input>
            </div>
        </div>
        <div class="control-group" ng-show="useraccount.cryptosite.apiSecret.required">
            <label class="control-label" for="apiSecret">{{useraccount.cryptosite.apiSecret.text}}</label>

            <div class="controls">
                <input type="text" data-ng-model="useraccount.apiSecret" id="apiSecret" placeholder="{{useraccount.cryptosite.apiSecret.encrypt?'Keep blank not to change it':useraccount.cryptosite.apiSecret.text}}">
                </input>
            </div>
        </div>
        <div class="control-group" ng-show="useraccount.cryptosite.apiAccount.required">
            <label class="control-label" for="apiAccount">{{useraccount.cryptosite.apiAccount.text}}</label>

            <div class="controls">
                <input type="text" data-ng-model="useraccount.apiAccount" id="apiAccount" placeholder="{{useraccount.cryptosite.apiAccount.encrypt?'Keep blank not to change it':useraccount.cryptosite.apiAccount.text}}">
                </input>
            </div>
        </div>
        <div class="control-group">
            <div btf-markdown="useraccount.cryptosite.help" ng-if="useraccount!==undefined"></div>
        </div>
        <div class="control-group">
            <div class="text-error">{{error.message||""}}</div>
            <div class="controls">
                <input type="submit" class="btn">
            </div>
        </div>
    </form>
</section>