<section data-ng-controller="CryptoSitesController">
	<form class="form-horizontal" data-ng-submit="create()">
		<div class="control-group">
			<label class="control-label" for="title">Title</label>
			<div class="controls">
				<input type="text" data-ng-model="title" id="title" placeholder="Title" required>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="type">Type</label>
			<div class="controls">
                <select data-ng-model="type" data-ng-options="s for s in cryptosite_types" id="type" required></select>
			</div>
		</div>
		<div class="control-group">
			<label class="control-label" for="type">Enabled?</label>
			<div class="controls">
                <input type="checkbox" data-ng-model="enabled">
			</div>
		</div>
        <div class="control-group">
            <label class="control-label" for="type">API Key</label>

            <div class="controls">
                <input type="checkbox" data-ng-model="apiKey.required"> Required
                <input type="checkbox" data-ng-model="apiKey.encrypt"> Encrypt
                <input type="text" data-ng-model="apiKey.text">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="type">API Secret</label>

            <div class="controls">
                <input type="checkbox" data-ng-model="apiSecret.required"> Required
                <input type="checkbox" data-ng-model="apiSecret.encrypt"> Encrypt
                <input type="text" data-ng-model="apiSecret.text">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="type">API Account</label>

            <div class="controls">
                <input type="checkbox" data-ng-model="apiAccount.required"> Required
                <input type="checkbox" data-ng-model="apiAccount.encrypt"> Encrypt
                <input type="text" data-ng-model="apiAccount.text">
            </div>
        </div>
        <div class="control-group">
            <label class="control-label" for="help">Help</label>
            <div class="controls">
                <textarea data-ng-model="help" id="help" placeholder="Help"></textarea>
            </div>
        </div>
		<div class="control-group">
			<div class="controls">
                <div class="text-error">{{error.message||""}}</div>
				<input type="submit" class="btn">
			</div>
		</div>
	</form>
</section>