<section data-ng-controller="CryptoSitesController" data-ng-init="find()">
        <table cellpadding="10">
            <thead>
            <tr>
                <td><b>Title</b></td>
                <td><b>Type</b></td>
                <td><b>Enabled</b></td>
                <td><b>API Key</b></td>
                <td><b>API Secret</b></td>
                <td><b>API Account</b></td>
                <td colspan="2"></td>
            </tr>
            </thead>
            <tbody>
            <tr data-ng-repeat="cryptosite in cryptosites">
                <td><a data-ng-href="#!/cryptosites/{{cryptosite._id}}">{{cryptosite.title}}</a></td>
                <td>{{cryptosite.type}}</td>
                <td>{{cryptosite.enabled}}</td>
                <td>{{cryptosite.apiKey.required?cryptosite.apiKey.text:"Not required"}}{{cryptosite.apiKey.encrypt?" (encrypted)":""}}</td>
                <td>{{cryptosite.apiSecret.required?cryptosite.apiSecret.text:"Not required"}}{{cryptosite.apiSecret.encrypt?" (encrypted)":""}}</td>
                <td>{{cryptosite.apiAccount.required?cryptosite.apiAccount.text:"Not required"}}{{cryptosite.apiAccount.encrypt?" (encrypted)":""}}</td>
                <td>        <a class="btn" href="/#!/cryptosites/{{cryptosite._id}}/edit">
                    <i class="icon-edit"></i>
                </a> </td>
                <td>
                    <a class="btn" data-ng-click="remove(cryptosite);">
                        <i class="icon-trash"></i>
                    </a>
                </td>
            </tr>
            </tbody>
        </table>

    <a class="btn" href="/#!/cryptosites/create">
        <i class="icon-plus-sign"></i>
    </a>
	<h1 data-ng-hide="!cryptosites || cryptosites.length">No Crypto-Site yet. <br> Why don't you <a href="/#!/cryptosites/create">Create One</a>?</h1>
</section>